Por: Beatriz Alexandre e Manuela Castilla

# Pergunta:

## Há um crescimento no número de adoções?

In [1]:
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import matplotlib as mpl  
import seaborn as sns
import numpy as np
import itertools
from scipy import stats
from emoji import UNICODE_EMOJI

In [3]:
df = pd.read_csv('family-households-with-married-couples.csv')
df

   realtime_end        date realtime_start  value
0    2018-10-30  1940-01-01     2018-10-30  26571
1    2018-10-30  1941-01-01     2018-10-30      .
2    2018-10-30  1942-01-01     2018-10-30      .
3    2018-10-30  1943-01-01     2018-10-30      .
4    2018-10-30  1944-01-01     2018-10-30      .
5    2018-10-30  1945-01-01     2018-10-30      .
6    2018-10-30  1946-01-01     2018-10-30      .
7    2018-10-30  1947-01-01     2018-10-30  30612
8    2018-10-30  1948-01-01     2018-10-30  31900
9    2018-10-30  1949-01-01     2018-10-30  33257
10   2018-10-30  1950-01-01     2018-10-30  34075
11   2018-10-30  1951-01-01     2018-10-30  34391
12   2018-10-30  1952-01-01     2018-10-30  35164
13   2018-10-30  1953-01-01     2018-10-30  35577
14   2018-10-30  1954-01-01     2018-10-30  35926
15   2018-10-30  1955-01-01     2018-10-30  36251
16   2018-10-30  1956-01-01     2018-10-30  37047
17   2018-10-30  1957-01-01     2018-10-30  37718
18   2018-10-30  1958-01-01     2018-10-30  37911
19   2018-10-30  1959-01-01     2018-10-30  38410
20   2018-10-30  1960-01-01     2018-10-30  39254
21   2018-10-30  1961-01-01     2018-10-30  39620
22   2018-10-30  1962-01-01     2018-10-30  40404
23   2018-10-30  1963-01-01     2018-10-30  40888
24   2018-10-30  1964-01-01     2018-10-30  41341
25   2018-10-30  1965-01-01     2018-10-30  41689
26   2018-10-30  1966-01-01     2018-10-30  42263
27   2018-10-30  1967-01-01     2018-10-30  42743
28   2018-10-30  1968-01-01     2018-10-30  43507
29   2018-10-30  1969-01-01     2018-10-30  44086
..          ...         ...            ...    ...
48   2018-10-30  1988-01-01     2018-10-30  51675
49   2018-10-30  1989-01-01     2018-10-30  52100
50   2018-10-30  1990-01-01     2018-10-30  52317
51   2018-10-30  1991-01-01     2018-10-30  52147
52   2018-10-30  1992-01-01     2018-10-30  52457
53   2018-10-30  1993-01-01     2018-10-30  53090
54   2018-10-30  1994-01-01     2018-10-30  53171
55   2018-10-30  1995-01-01     2018-10-30  53858
56   2018-10-30  1996-01-01     2018-10-30  53567
57   2018-10-30  1997-01-01     2018-10-30  53604
58   2018-10-30  1998-01-01     2018-10-30  54317
59   2018-10-30  1999-01-01     2018-10-30  54770
60   2018-10-30  2000-01-01     2018-10-30  55311
61   2018-10-30  2001-01-01     2018-10-30  56592
62   2018-10-30  2002-01-01     2018-10-30  56747
63   2018-10-30  2003-01-01     2018-10-30  57320
64   2018-10-30  2004-01-01     2018-10-30  57719
65   2018-10-30  2005-01-01     2018-10-30  57975
66   2018-10-30  2006-01-01     2018-10-30  58179
67   2018-10-30  2007-01-01     2018-10-30  58945
68   2018-10-30  2008-01-01     2018-10-30  58370
69   2018-10-30  2009-01-01     2018-10-30  59118
70   2018-10-30  2010-01-01     2018-10-30  58410
71   2018-10-30  2011-01-01     2018-10-30  58656
72   2018-10-30  2012-01-01     2018-10-30  58949
73   2018-10-30  2013-01-01     2018-10-30  59204
74   2018-10-30  2014-01-01     2018-10-30  59629
75   2018-10-30  2015-01-01     2018-10-30  60010
76   2018-10-30  2016-01-01     2018-10-30  60251
77   2018-10-30  2017-01-01     2018-10-30  60804

[78 rows x 4 columns]